# Extraction of user song data
- The goal is to be able to select only users who have listened to more than n songs. 
- Then take 10 random out of the n from each user and put it in a file of "known" "inserted" songs. 
- The file of "unknown" "secret" songs is the third output of this notebook

In [1]:
import os
import pandas as pd
import random
import dplython
import numpy as np

In [2]:
data_dir = '/Users/filiprolenec/Documents/skola/01DAS/01DAS/song-recomendation/Data/MillionSongSubset'

In [3]:
user_song_path = os.path.join(data_dir,'user_song.txt')
user_song_data_original = pd.read_csv(user_song_path, sep="\t", header=None)
user_song_data_original.columns = ["user", "song id", "count"]

In [4]:
number_of_songs_listened = user_song_data_original[['user','song id']].groupby('user').count()
print(number_of_songs_listened['song id'].value_counts().sort_index())

10      50608
11      46219
12      42170
13      38721
14      35585
        ...
1566        1
1604        1
1614        1
1651        1
4400        1
Name: song id, Length: 920, dtype: int64

In [5]:
users_more_than_n = number_of_songs_listened[number_of_songs_listened['song id']>19]['song id'].keys()

In [6]:
users_20_plus = user_song_data_original[user_song_data_original['user'].isin(users_more_than_n)].sort_values(['user'])

## Now take 10 random out.

In [8]:
size = 10        # sample size
replace = False  # with replacement
fn = lambda obj: obj.loc[np.random.choice(obj.index, size, replace),:]
users_20_plus_train = users_20_plus.groupby('user', as_index=False).apply(fn)

In [9]:
users_20_plus_train

                                                     user             song id  \
0      27901241  0000267bde1b3a70ea75cf2b2d216cb828e3202b  SORHJAS12AB0187D3F
       27901224  0000267bde1b3a70ea75cf2b2d216cb828e3202b  SOBMSCQ12AAF3B51B7
       27901227  0000267bde1b3a70ea75cf2b2d216cb828e3202b  SODEYDM12A58A77072
       27901225  0000267bde1b3a70ea75cf2b2d216cb828e3202b  SOCAFDI12A8C13D10E
       27901237  0000267bde1b3a70ea75cf2b2d216cb828e3202b  SOPOFBW12AB0187196
...                                                   ...                 ...
661102 31292914  fffff9534445f481b6ab91c345500083d2ce4df1  SODVXIB12AF72A37F3
       31292908  fffff9534445f481b6ab91c345500083d2ce4df1  SOAUWYT12A81C206F1
       31292919  fffff9534445f481b6ab91c345500083d2ce4df1  SOFYCAM12A58A7A45B
       31292930  fffff9534445f481b6ab91c345500083d2ce4df1  SOMCMKG12A8C1347BF
       31292939  fffff9534445f481b6ab91c345500083d2ce4df1  SOSKKVC12A58291BFE

                 count
0      27901241      1
       27901224      1
       27901227      1
       27901225      1
       27901237      1
...                ...
661102 31292914      1
       31292908      4
       31292919      1
       31292930     56
       31292939      1

[6611030 rows x 3 columns]

In [10]:
users_20_plus['user'].nunique() #number of unique users

661103

In [12]:
users_20_plus_test = pd.concat([users_20_plus,users_20_plus_train]).drop_duplicates(keep=False)

In [13]:
users_20_plus_test

                                              user             song id  count
27901229  0000267bde1b3a70ea75cf2b2d216cb828e3202b  SOHOTAA12A8AE45F43      1
27901245  0000267bde1b3a70ea75cf2b2d216cb828e3202b  SOXAGVF12A8C13E54F      1
27901243  0000267bde1b3a70ea75cf2b2d216cb828e3202b  SOVJFSL12A58A7F6A4      1
27901242  0000267bde1b3a70ea75cf2b2d216cb828e3202b  SOTDKEJ12AB0187AAA      2
27901240  0000267bde1b3a70ea75cf2b2d216cb828e3202b  SORFFOI12A8C135E10      1
...                                            ...                 ...    ...
31292910  fffff9534445f481b6ab91c345500083d2ce4df1  SOBONKR12A58A7A7E0      4
31292909  fffff9534445f481b6ab91c345500083d2ce4df1  SOBEISM12A6D4F9625      1
31292945  fffff9534445f481b6ab91c345500083d2ce4df1  SOUVGVC12A58A79ED8      1
31292943  fffff9534445f481b6ab91c345500083d2ce4df1  SOTMAPQ12A8C13BAFD      1
31292941  fffff9534445f481b6ab91c345500083d2ce4df1  SOSXLTC12AF72A7F54     10

[36796153 rows x 3 columns]

In [15]:
len(users_20_plus)-len(users_20_plus_train)

36796153

In [ ]:
file_name_original = '/Users/filiprolenec/Documents/skola/01DAS/01DAS/song-recomendation/Data/BaselineModel/user_20_plus_original.csv'
users_20_plus.to_csv(file_name_original, sep=';', index=False)

In [ ]:
file_name_test = '/Users/filiprolenec/Documents/skola/01DAS/01DAS/song-recomendation/Data/BaselineModel/user_20_plus_test.csv'
users_20_plus_test.to_csv(file_name_test, sep=';', index=False)

In [ ]:
file_name_train = '/Users/filiprolenec/Documents/skola/01DAS/01DAS/song-recomendation/Data/BaselineModel/user_20_plus_train.csv'
users_20_plus_train.to_csv(file_name_train, sep=';', index=False)